old/NodeRedSetup.json
[
    {
        "id": "e87bdfd47b5d4605",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f3fbe351a1a1af1b",
        "type": "mqtt in",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "topic": "Factory/Cell_Right_Counter",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "eed756cb864e3837",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 160,
        "wires": [
            [
                "2c07bfb654ff929f",
                "2977c80898b85730",
                "5f9def3c038d942c"
            ]
        ]
    },
    {
        "id": "2c07bfb654ff929f",
        "type": "ui_text",
        "z": "e87bdfd47b5d4605",
        "group": "9f830fc6af836189",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Cell Right Count.",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "7c076d295c59ce6d",
        "type": "mqtt out",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "topic": "Factory/Start_Machine_Right",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "eed756cb864e3837",
        "x": 780,
        "y": 580,
        "wires": []
    },
    {
        "id": "6dc080efa2f17478",
        "type": "ui_switch",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "label": "On-Off-Right",
        "tooltip": "",
        "group": "858782cd2650e78d",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 450,
        "y": 580,
        "wires": [
            [
                "7c076d295c59ce6d"
            ]
        ]
    },
    {
        "id": "2977c80898b85730",
        "type": "ui_chart",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "group": "858782cd2650e78d",
        "order": 23,
        "width": 22,
        "height": 5,
        "label": "Production history",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "879183b82a901319",
        "type": "ui_switch",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "label": "On-Off-Left",
        "tooltip": "",
        "group": "858782cd2650e78d",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 450,
        "y": 640,
        "wires": [
            [
                "223f45f4f9917d45"
            ]
        ]
    },
    {
        "id": "decadfe22e291c8f",
        "type": "ui_switch",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "label": "Base or Lid (Right Cell)",
        "tooltip": "Switch Left --> Base, Swtich Right --> Lid",
        "group": "858782cd2650e78d",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 700,
        "wires": [
            [
                "9a8bbfd66c513f6c"
            ]
        ]
    },
    {
        "id": "f1e19e4528646a88",
        "type": "ui_switch",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "label": "Base or Lid (Left Cell)",
        "tooltip": "",
        "group": "858782cd2650e78d",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 420,
        "y": 760,
        "wires": [
            [
                "506844ae42d4edca"
            ]
        ]
    },
    {
        "id": "a16c543a9f2067af",
        "type": "ui_text",
        "z": "e87bdfd47b5d4605",
        "group": "9f830fc6af836189",
        "order": 1,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Cell Left Count.",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 560,
        "y": 280,
        "wires": []
    },
    {
        "id": "223f45f4f9917d45",
        "type": "mqtt out",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "topic": "Factory/Start_Machine_Left",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "eed756cb864e3837",
        "x": 780,
        "y": 640,
        "wires": []
    },
    {
        "id": "9a8bbfd66c513f6c",
        "type": "mqtt out",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "topic": "Factory/Lid_Right",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "eed756cb864e3837",
        "x": 750,
        "y": 700,
        "wires": []
    },
    {
        "id": "506844ae42d4edca",
        "type": "mqtt out",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "topic": "Factory/Lid_Left",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "eed756cb864e3837",
        "x": 740,
        "y": 760,
        "wires": []
    },
    {
        "id": "2e31aa5275651fa9",
        "type": "mqtt in",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "topic": "Factory/Cell_Left_Counter",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "eed756cb864e3837",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 280,
        "wires": [
            [
                "2977c80898b85730",
                "a16c543a9f2067af",
                "5f9def3c038d942c"
            ]
        ]
    },
    {
        "id": "26a14dc17ade02b7",
        "type": "ui_numeric",
        "z": "e87bdfd47b5d4605",
        "name": "batch_size",
        "label": "Batch Size",
        "tooltip": "",
        "group": "858782cd2650e78d",
        "order": 20,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 270,
        "y": 1160,
        "wires": [
            [
                "068d5b2b7ea6ce75"
            ]
        ]
    },
    {
        "id": "d859325cff3916a7",
        "type": "ui_switch",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "label": "Batch Production",
        "tooltip": "",
        "group": "858782cd2650e78d",
        "order": 16,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 430,
        "y": 380,
        "wires": [
            [
                "1ec4bdf9f03d26aa"
            ]
        ]
    },
    {
        "id": "1ec4bdf9f03d26aa",
        "type": "mqtt out",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "topic": "Factory/Batch_Production",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "eed756cb864e3837",
        "x": 770,
        "y": 340,
        "wires": []
    },
    {
        "id": "bd1c6ecf66d5a4eb",
        "type": "mqtt in",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "topic": "Factory/Product_Finished",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "eed756cb864e3837",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 1320,
        "wires": [
            [
                "12a7651d365143e9"
            ]
        ]
    },
    {
        "id": "4e4bfc2f296e946c",
        "type": "ui_button",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "group": "858782cd2650e78d",
        "order": 18,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Send new Batch",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "new_batch",
        "payloadType": "global",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 1220,
        "wires": [
            [
                "e6588551add024db",
                "7be5cd7163ce6d68",
                "cea18f13b15c0ed8"
            ]
        ]
    },
    {
        "id": "8c1a0609833594f9",
        "type": "mqtt in",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "topic": "Factory/Cell_Left_Rate",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "eed756cb864e3837",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 520,
        "wires": [
            [
                "4e624b94832b7749",
                "feef59b3790571eb"
            ]
        ]
    },
    {
        "id": "4e624b94832b7749",
        "type": "ui_text",
        "z": "e87bdfd47b5d4605",
        "group": "9f830fc6af836189",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Left Prod/Hour",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 740,
        "y": 520,
        "wires": []
    },
    {
        "id": "4e5d19cbe093d759",
        "type": "mqtt in",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "topic": "Factory/Cell_Right_Rate",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "eed756cb864e3837",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 430,
        "y": 480,
        "wires": [
            [
                "f9ec1910d4181f88",
                "feef59b3790571eb"
            ]
        ]
    },
    {
        "id": "f9ec1910d4181f88",
        "type": "ui_text",
        "z": "e87bdfd47b5d4605",
        "group": "9f830fc6af836189",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Right Prod/Hour",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 740,
        "y": 480,
        "wires": []
    },
    {
        "id": "d3c9a9c7dd403993",
        "type": "mqtt in",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "topic": "Factory/Total_Rate",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "eed756cb864e3837",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 440,
        "wires": [
            [
                "ee29decbc3162bb1"
            ]
        ]
    },
    {
        "id": "ee29decbc3162bb1",
        "type": "ui_text",
        "z": "e87bdfd47b5d4605",
        "group": "9f830fc6af836189",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Prod/Hour",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 440,
        "wires": []
    },
    {
        "id": "b9ac049839c6c8f7",
        "type": "ui_text",
        "z": "e87bdfd47b5d4605",
        "group": "9f830fc6af836189",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Total Production",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 560,
        "y": 60,
        "wires": []
    },
    {
        "id": "1074bf23dc22f05f",
        "type": "mqtt in",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "topic": "Factory/Total_Production",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "eed756cb864e3837",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 60,
        "wires": [
            [
                "b9ac049839c6c8f7"
            ]
        ]
    },
    {
        "id": "5f9def3c038d942c",
        "type": "ui_chart",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "group": "9f830fc6af836189",
        "order": 9,
        "width": 9,
        "height": 4,
        "label": "Total Production",
        "chartType": "pie",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#b31e1e",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "feef59b3790571eb",
        "type": "ui_chart",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "group": "9f830fc6af836189",
        "order": 11,
        "width": 9,
        "height": 4,
        "label": "Production Rate",
        "chartType": "pie",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#b31e1e",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "c637c451044cf6d2",
        "type": "mqtt in",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "topic": "Factory/Longterm_Right_Rate",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "eed756cb864e3837",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 1440,
        "wires": [
            [
                "6b3f16869024af95",
                "694bd62e617d7c5a"
            ]
        ]
    },
    {
        "id": "ed13279caa9ea03c",
        "type": "mqtt in",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "topic": "Factory/Longterm_Left_Rate",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "eed756cb864e3837",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 1400,
        "wires": [
            [
                "6b3f16869024af95",
                "feaaea3fce379888"
            ]
        ]
    },
    {
        "id": "ca9ad9e0b445ef49",
        "type": "mqtt in",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "topic": "Factory/Longterm_Total_Rate",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "eed756cb864e3837",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 1480,
        "wires": [
            [
                "a5482ffe15f10f60"
            ]
        ]
    },
    {
        "id": "feaaea3fce379888",
        "type": "ui_text",
        "z": "e87bdfd47b5d4605",
        "group": "9f830fc6af836189",
        "order": 19,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Long Left P/Hour",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 1580,
        "wires": []
    },
    {
        "id": "694bd62e617d7c5a",
        "type": "ui_text",
        "z": "e87bdfd47b5d4605",
        "group": "9f830fc6af836189",
        "order": 21,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Long Right P/Hour",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 1520,
        "wires": []
    },
    {
        "id": "a5482ffe15f10f60",
        "type": "ui_text",
        "z": "e87bdfd47b5d4605",
        "group": "9f830fc6af836189",
        "order": 20,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Long P/Hour",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 1440,
        "wires": []
    },
    {
        "id": "6b3f16869024af95",
        "type": "ui_chart",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "group": "9f830fc6af836189",
        "order": 23,
        "width": 9,
        "height": 4,
        "label": "Longterm Production Rate",
        "chartType": "pie",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#b31e1e",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "068d5b2b7ea6ce75",
        "type": "function",
        "z": "e87bdfd47b5d4605",
        "name": "store batch size",
        "func": "global.set('new_batch',parseInt(msg.payload));",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "7be5cd7163ce6d68",
        "type": "mqtt out",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "topic": "Factory/Batch_Size",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "eed756cb864e3837",
        "x": 850,
        "y": 1280,
        "wires": []
    },
    {
        "id": "12a7651d365143e9",
        "type": "function",
        "z": "e87bdfd47b5d4605",
        "name": "decr counter",
        "func": "if(msg.payload == true) {\n  global.set(\"count\", parseInt(global.get('count')-1));\n  msg.payload = global.get(\"count\")\n  return msg\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1320,
        "wires": [
            [
                "7be5cd7163ce6d68",
                "cea18f13b15c0ed8"
            ]
        ]
    },
    {
        "id": "e6588551add024db",
        "type": "function",
        "z": "e87bdfd47b5d4605",
        "name": "reset counter",
        "func": "global.set('count',parseInt(msg.payload));",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "cea18f13b15c0ed8",
        "type": "ui_text",
        "z": "e87bdfd47b5d4605",
        "group": "858782cd2650e78d",
        "order": 21,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Parts to go",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 1220,
        "wires": []
    },
    {
        "id": "9da2bb72ad7f0338",
        "type": "ui_button",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "group": "858782cd2650e78d",
        "order": 6,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Reset Left",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 840,
        "wires": [
            [
                "f9d6366e666fdc36"
            ]
        ]
    },
    {
        "id": "a5dd018cfab452c9",
        "type": "ui_button",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "group": "858782cd2650e78d",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Reset Right",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 900,
        "wires": [
            [
                "e5f2ecf84033158d"
            ]
        ]
    },
    {
        "id": "f9d6366e666fdc36",
        "type": "mqtt out",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "topic": "Factory/Reset_Left",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "eed756cb864e3837",
        "x": 810,
        "y": 840,
        "wires": []
    },
    {
        "id": "e5f2ecf84033158d",
        "type": "mqtt out",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "topic": "Factory/Reset_Right",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "eed756cb864e3837",
        "x": 820,
        "y": 900,
        "wires": []
    },
    {
        "id": "d245b725d5fa5859",
        "type": "ui_led",
        "z": "e87bdfd47b5d4605",
        "order": 5,
        "group": "858782cd2650e78d",
        "width": 4,
        "height": 1,
        "label": "Status Left",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 390,
        "y": 840,
        "wires": []
    },
    {
        "id": "6efa4927711da74d",
        "type": "ui_led",
        "z": "e87bdfd47b5d4605",
        "order": 12,
        "group": "858782cd2650e78d",
        "width": 4,
        "height": 1,
        "label": "Status Right",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 390,
        "y": 900,
        "wires": []
    },
    {
        "id": "ca1a65ccd41f0ec7",
        "type": "mqtt in",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "topic": "Factory/Left_Has_Error",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "eed756cb864e3837",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 840,
        "wires": [
            [
                "d245b725d5fa5859"
            ]
        ]
    },
    {
        "id": "7687e02a30150bb5",
        "type": "mqtt in",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "topic": "Factory/Right_Has_Error",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "eed756cb864e3837",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 900,
        "wires": [
            [
                "6efa4927711da74d",
                "2c5ca209f74e0378"
            ]
        ]
    },
    {
        "id": "2c5ca209f74e0378",
        "type": "debug",
        "z": "e87bdfd47b5d4605",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 960,
        "wires": []
    },
    {
        "id": "1aedd44eb3ca39e2",
        "type": "mqtt in",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "topic": "Factory/Error_Time_Right",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "eed756cb864e3837",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 590,
        "y": 1680,
        "wires": [
            [
                "156dda9a1f03118b",
                "a6f22416b63613d0"
            ]
        ]
    },
    {
        "id": "156dda9a1f03118b",
        "type": "ui_text",
        "z": "e87bdfd47b5d4605",
        "group": "9f830fc6af836189",
        "order": 34,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Error Time Right",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 840,
        "y": 1680,
        "wires": []
    },
    {
        "id": "0e1eeae9f68b6043",
        "type": "mqtt in",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "topic": "Factory/Busy_Time_Right",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "eed756cb864e3837",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 590,
        "y": 1740,
        "wires": [
            [
                "5cdf17567cc50875",
                "a6f22416b63613d0"
            ]
        ]
    },
    {
        "id": "5cdf17567cc50875",
        "type": "ui_text",
        "z": "e87bdfd47b5d4605",
        "group": "9f830fc6af836189",
        "order": 33,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Busy Time Right",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 840,
        "y": 1740,
        "wires": []
    },
    {
        "id": "511c6680e2aa7ef8",
        "type": "mqtt in",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "topic": "Factory/Idle_Time_Right",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "eed756cb864e3837",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 590,
        "y": 1800,
        "wires": [
            [
                "ead24471cceafd51",
                "a6f22416b63613d0"
            ]
        ]
    },
    {
        "id": "ead24471cceafd51",
        "type": "ui_text",
        "z": "e87bdfd47b5d4605",
        "group": "9f830fc6af836189",
        "order": 32,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Idle Time Right",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 840,
        "y": 1800,
        "wires": []
    },
    {
        "id": "060f7c33612b51fb",
        "type": "mqtt in",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "topic": "Factory/Error_Time_Left",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "eed756cb864e3837",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 1680,
        "wires": [
            [
                "0339a81ebc1e7012",
                "3cb7e4d060a05931"
            ]
        ]
    },
    {
        "id": "0339a81ebc1e7012",
        "type": "ui_text",
        "z": "e87bdfd47b5d4605",
        "group": "9f830fc6af836189",
        "order": 30,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Error Time Left",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 380,
        "y": 1680,
        "wires": []
    },
    {
        "id": "fe3c3e5525955957",
        "type": "mqtt in",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "topic": "Factory/Busy_Time_Left",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "eed756cb864e3837",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 1740,
        "wires": [
            [
                "f779db455b35d2ad",
                "3cb7e4d060a05931"
            ]
        ]
    },
    {
        "id": "f779db455b35d2ad",
        "type": "ui_text",
        "z": "e87bdfd47b5d4605",
        "group": "9f830fc6af836189",
        "order": 29,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Busy Time Left",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 380,
        "y": 1740,
        "wires": []
    },
    {
        "id": "d4edf1ddc9c9a088",
        "type": "mqtt in",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "topic": "Factory/Idle_Time_Left",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "eed756cb864e3837",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 1800,
        "wires": [
            [
                "244b49bae97ea2b0",
                "3cb7e4d060a05931"
            ]
        ]
    },
    {
        "id": "244b49bae97ea2b0",
        "type": "ui_text",
        "z": "e87bdfd47b5d4605",
        "group": "9f830fc6af836189",
        "order": 28,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Idle Time Left",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 380,
        "y": 1800,
        "wires": []
    },
    {
        "id": "3cb7e4d060a05931",
        "type": "ui_chart",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "group": "9f830fc6af836189",
        "order": 36,
        "width": 9,
        "height": 4,
        "label": "Time Left",
        "chartType": "pie",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#b31e1e",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 360,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "82843794aac9fb4c",
        "type": "mqtt in",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "topic": "Factory/Absolut_Time",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "eed756cb864e3837",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 1920,
        "wires": [
            [
                "2b5d3fa07918c488"
            ]
        ]
    },
    {
        "id": "2b5d3fa07918c488",
        "type": "ui_text",
        "z": "e87bdfd47b5d4605",
        "group": "9f830fc6af836189",
        "order": 46,
        "width": 20,
        "height": 1,
        "name": "",
        "label": "Absolut Time",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 350,
        "y": 1920,
        "wires": []
    },
    {
        "id": "a6f22416b63613d0",
        "type": "ui_chart",
        "z": "e87bdfd47b5d4605",
        "name": "",
        "group": "9f830fc6af836189",
        "order": 38,
        "width": 9,
        "height": 4,
        "label": "Time Right",
        "chartType": "pie",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1050,
        "y": 1780,
        "wires": [
            []
        ]
    },
    {
        "id": "8d0042376f9370e8",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "858782cd2650e78d",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "f424043c441af8af",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "858782cd2650e78d",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "74a16ca69ca75ed3",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "858782cd2650e78d",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "d02277338186054e",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "858782cd2650e78d",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "0fae69d192418eac",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "858782cd2650e78d",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "ed0bc0e6020f730f",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "858782cd2650e78d",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "46087de35979a349",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "858782cd2650e78d",
        "order": 15,
        "width": 22,
        "height": 1
    },
    {
        "id": "075ab9ab47444151",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "858782cd2650e78d",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "aaa7bb570cfc0ec7",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "858782cd2650e78d",
        "order": 19,
        "width": 3,
        "height": 1
    },
    {
        "id": "b4951555c62d3381",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "858782cd2650e78d",
        "order": 22,
        "width": 2,
        "height": 1
    },
    {
        "id": "08e0ee2256efad29",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "9f830fc6af836189",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "64835d2acdff09c2",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "9f830fc6af836189",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "f8b06c121322fbd9",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "9f830fc6af836189",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "8b9002655992af64",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "9f830fc6af836189",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "616bca9c0a2b4c9c",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "9f830fc6af836189",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "cc8a0f0a45270fe0",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "9f830fc6af836189",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "1c725fb068f0a020",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "9f830fc6af836189",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "4590710f53cb0b09",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "9f830fc6af836189",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "fef6a5e61c5bf088",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "9f830fc6af836189",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "f32cd4bed2124ce2",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "9f830fc6af836189",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "728be85354002ad1",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "9f830fc6af836189",
        "order": 22,
        "width": 13,
        "height": 1
    },
    {
        "id": "4d07e784472c34ed",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "9f830fc6af836189",
        "order": 24,
        "width": 13,
        "height": 1
    },
    {
        "id": "63e0c94b5c7e4599",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "9f830fc6af836189",
        "order": 25,
        "width": 13,
        "height": 1
    },
    {
        "id": "a15080cbf5741277",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "9f830fc6af836189",
        "order": 26,
        "width": 13,
        "height": 1
    },
    {
        "id": "7939c3fa5e2f32a7",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "9f830fc6af836189",
        "order": 27,
        "width": 13,
        "height": 1
    },
    {
        "id": "c07d594bcad7558c",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "9f830fc6af836189",
        "order": 31,
        "width": 2,
        "height": 1
    },
    {
        "id": "d3ba0fca8db8af24",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "9f830fc6af836189",
        "order": 35,
        "width": 2,
        "height": 1
    },
    {
        "id": "064456ae2ae4c493",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "9f830fc6af836189",
        "order": 37,
        "width": 2,
        "height": 1
    },
    {
        "id": "fb3703a1181c2777",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "9f830fc6af836189",
        "order": 39,
        "width": 2,
        "height": 1
    },
    {
        "id": "67efc6148db6a1ef",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "9f830fc6af836189",
        "order": 40,
        "width": 2,
        "height": 1
    },
    {
        "id": "ebfa5734fe18973f",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "9f830fc6af836189",
        "order": 41,
        "width": 2,
        "height": 1
    },
    {
        "id": "2676e6cebbacd4df",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "9f830fc6af836189",
        "order": 42,
        "width": 2,
        "height": 1
    },
    {
        "id": "8fa8e4a5ecd08f33",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "9f830fc6af836189",
        "order": 43,
        "width": 2,
        "height": 1
    },
    {
        "id": "c88ae228b613536e",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "9f830fc6af836189",
        "order": 44,
        "width": 2,
        "height": 1
    },
    {
        "id": "c491dbf9bd41651c",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "9f830fc6af836189",
        "order": 45,
        "width": 2,
        "height": 1
    },
    {
        "id": "675ec4cf21781306",
        "type": "ui_spacer",
        "z": "e87bdfd47b5d4605",
        "name": "spacer",
        "group": "9f830fc6af836189",
        "order": 47,
        "width": 2,
        "height": 1
    },
    {
        "id": "eed756cb864e3837",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9f830fc6af836189",
        "type": "ui_group",
        "name": "Production Overview",
        "tab": "2703f2c66e242618",
        "order": 1,
        "disp": true,
        "width": 22,
        "collapse": false,
        "className": ""
    },
    {
        "id": "858782cd2650e78d",
        "type": "ui_group",
        "name": "Settings",
        "tab": "5c52a85a53a392cc",
        "order": 1,
        "disp": true,
        "width": 22,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2703f2c66e242618",
        "type": "ui_tab",
        "name": "KPI's",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5c52a85a53a392cc",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]